
<div class="newopen" >
<h2>Edit module</h2>


<%= simple_form_for @linkcat, url: admin_linkcat_path(params[:id]), method: :put do |f| %>

  <%= f.input :linkcatname, label: false, placeholder: "name" %>

  <b>Type<%= f.input :linkcattype, collection: ["Curated Weblinks","Other"], label: false, prompt: "Type" %></b>

<b>View<%= f.input :linkcatview, collection: ["Normal","Other"], label: false, prompt: "View type" %></b>

  <b>Max<%= f.input :linkcatmaxres, collection: 1..8, label: false, prompt: "max results" %></b>

  <%= f.input :linkcatdesc, label: false, placeholder: "description" %>

  <%= f.button :submit, 'Edit module' %>

<% end %>
</div>