
<div class="newopen" >
<h2>New module</h2>


<%= simple_form_for @linkcat, url: admin_linkcats_path, method: :post do |f| %>

  <%= f.input :linkcatname, label: false, placeholder: "name" %>

  <%= f.input :linkcattype, collection: ["Curated Weblinks","Other"], label: false, prompt: "Type" %>

<%= f.input :linkcatview, collection: ["Normal","Other"], label: false, prompt: "View type" %>

  <%= f.input :linkcatmaxres, collection: 1..8, label: false, prompt: "max results" %>

  <%= f.input :linkcatdesc, label: false, placeholder: "description" %>

  <%= f.button :submit, 'Add new module' %>

<% end %>
</div>