<section class="searchpage" >
<div class="logo" id="logofinds" >
		<%= image_tag 'logo.svg' %>
</div>	 

<div class="newsearch">  

<%= simple_form_for [@user, @find], url: user_finds_path, method: :post do |f| %>
	<div class="searchform" >
		<%= f.input :linkcat_id, collection: @linkcat,  label_method: :linkcatname, value_method: :id, label: false, prompt: "Topic search", class: "chosen" %> 
		<%= f.input :docstructure_id, collection: @heading, label_method: :headingname, value_method: :id, label: false, prompt: "Heading search" %>
		<div class="mover">
		<%= f.text_field :tag_list_tokens, label: false, prompt: "Enter search terms", data: {load: @all_tags} %>
		
		</div>
		</div>
	<div class="hidlinkcat" >
	
		<%= f.input :user_id, input_html: { value: params[:user_id]} %>

	</div>
	
	<div class="searchbutton">

		<%= f.button :submit, 'Search' %>
	</div>

<% end %>
<div class="searchhelp">
	
	<h6><sup><%= link_to " ?", instructions_path(anchor: 'helpsearch'), id: 'searchhelp' %></sup></h6>
	
	</div>
</div>
</section>