<section class="searchpage" >
<div class="logo" id="logofinds" >
		<%= image_tag 'logo.svg' %>
</div>	 

<div class="newsearch">


<%= simple_form_for [@user, @find], url: user_finds_path, method: :post do |f| %>
	<div class="searchform" >
		<%= f.input :linkcat_id, collection: @linkcat, label_method: :linkcatname, value_method: :id, label: false, prompt: "Select a topic to search", class: "chosen" %> 
		<%= f.input :docstructure_id, collection: @heading, label_method: :headingname, value_method: :id, label: false, prompt: "Select a heading to search" %>

		<%= f.input :searchterm, label: false, placeholder: "Enter search term" %>
		</div>
	<div class="hidlinkcat" >
	
		<%= f.input :user_id, input_html: { value: params[:user_id]} %>

	</div>
	<p></p>
	<div class="searchbutton">
		<%= f.button :submit, 'Search' %>
	</div>

<% end %>
</div>
</section>