<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	
<div class="newopen">
<h4>Filters</h4>
<div class="filter" id="fil1">
<%= simple_form_for :search, url: admin_finds_path, method: :get do |f| %>
	<h4>Search for specific term</h4><%= f.input :q, label: false %>
	<%= f.button :submit, "Search" %> 
<% end %>	
</div>
<div class="filter" id="fil2">
<%= simple_form_for :search, url: admin_finds_path, method: :get do |f| %>
	<h4>Search for a specific user's searches</h4><%= f.input :q1, collection: @users,  label_method: :email, value_method: :id, label: false, prompt: "email", class: "chosen" %>
	<%= f.button :submit, "Find" %> 
<% end %>	
</div>
<div class="filter" id="fil3">
<%= simple_form_for :search, url: admin_finds_path, method: :get do |f| %>
	<h4>Search for a specific module's searches</h4><%= f.input :q2, collection: @linkcats,  label_method: :linkcatname, value_method: :id, label: false, prompt: "Module" %>
	<%= f.button :submit, "Find" %> 
<% end %>	
</div>
</div>
<div class="sumresults">
<h4>Total number of searches:<%= @findscount %></h4>
<h4>Number of searches by module</h4>

<table>
	<thead>
		<tr>
			<th>Module</th>
			<th>Number</th>
		</tr>
	</thead>
	<tbody>		

<% @findslinkcat.each do |findslinkcat, count| %>
<tr>
	<% if findslinkcat.nil?%><td>No module selected</td><% elsif findslinkcat ==0 %><td>No module Selected</td><% else %><td><%= Linkcat.find(findslinkcat).linkcatname %></td><% end %>
	<td><%= "#{count}" %></td>
</tr>
<% end %>	
</tbody>
</table>
<h4>Number of searches by user</h4>
<table>
	<thead>
		<tr>
			<th>User</th>
			<th>Number</th>
		</tr>
	</thead>
	<tbody>	

<% @findsuser.each do |findsuser, count| %>
<tr>
	<td><%= User.find(findsuser).lname %></td>
	<td><%= "#{count}" %></td>
</tr>
<% end %>	
</tbody>
</table>
</div>
<div class="modadmin">
<table>
	<thead>
		<tr>
			<th>id number</th>
			<th>term searched</th>
			<th>name</th>
			<th>Module</th>
		</tr>
	</thead>		
	<tbody>
<% @finds.each do |finds| %>
	<tr>
		<td><%= finds.id %></td>
		<td><%= finds.searchterm %></td>
	<% @user = User.where(:id => finds.user_id) %>
	<% @linkcat = Linkcat.where(:id => finds.linkcat_id) %>
	<% @user.each do |user| %>
		<td><%= user.fname %>
		<%= user.lname %></td>
	<% end %>
	<% @linkcat.each do |linkcat| %>
	  <td><%= linkcat.linkcatname %></td>

	<% end %>  
	</tr>
<% end %>
</tbody>
</table>	
</div>

