<div class="loginb" >



<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  	
    <%= f.input :email, required: false, label: false, placeholder: "Email address" %>
    
    <%= f.input :password, required: false, label: false, placeholder: "Password" %>
    <%= f.input :remember_me, label: "Remember me", label_html: {id: "remlab"}, as: :boolean if devise_mapping.rememberable? %>
 

 
    <%= f.button :submit, "Log in" %>
 
<% end %>


</div>