<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  


<div class="sandboxlinks">
	<h2>Create your structure</h2>
	<%= link_to "Enter new topic", new_user_linkcat_path(current_user.id) %>
	<%= link_to "Enter new heading", new_user_docstructure_path(current_user.id) %>

	<h2>Enter your information</h2>
	<%= link_to "Enter Information", new_user_declarative_path(current_user.id) %>

	<h2>Review Your structure</h2>
	<%= link_to "List of created topics", user_linkcats_path(current_user.id) %>
	<%= link_to "List of created headings", user_docstructures_path(current_user.id) %>
	<%= link_to "List of all data entered", dataentered_user_path(current_user.id) %>
	<h2>Delete your entire structure</h2>
	<%= link_to "Delete all entries", deletesandbox_user_path %>
	<%= link_to "Instructions", instructions_path %>

</div>


