<div class="fixedhead" >
		<ul >
				<li><img src="/assets/logoland.svg"></li>
		      
   </ul> 
   <div id="sicontainer"  >
          <ul class="sinav", id="hidlink"  >
          	<li  ><%= link_to "Home", root_path, id: "hidlinkf" %></li>
		     		<li  ><%= link_to "About us", aboutus_path, id: "hidlinkg" %></li>
		     		<li  id="regout" ><a href="#registerform" id="hidlinkh">Register</li>

            <li><a href="#" >a</a></li>
            <li><a href="#" >j</a></li>
            <li><a href="#" >x</a></li>
            <li><a href="#" >r</a></li>
          </ul>
      </div>
	</div>

	<div class="footerl" >
<div class ="footernavl" >
   <ul>
     <li><%= link_to "Home", root_path %></li>

     <li><%= link_to "Legal", legal_path %></li>
     <li><%= link_to "Content", content_path %></li> 
     <li><%= link_to "Contact us", contactus_path %></li>
     <li><small>Please email us at info@minervasi.com</small></li>
   
     <li><small>(c)Miverva SI Ltd 2015.  All rights reserved.</small></li>

   </ul> 
</div>  
</div>