<section class="container4">
  <div class="explanation2" id="About">
    <h1>About us</h1>
      <ul>
        <div class="col1" >
        <li class="imgcont" ><%= image_tag 'speed4.svg', class: "hiwimres", id: "hiwimres1" %></li>
        <li><h3>The Platform</h3></li>
        <li><h4>We have built a web-based platform to significantly reduce the time required to find the information and data you need.  The web platform is secure and aims to meet professional investors requirements.</h4></li>
        </div>
        <div class="col2" >
        <li class="imgcont" ><%= image_tag 'connected4.svg', class: "hiwimres", id: "hiwimres2" %></li>
        <li><h3>Today</h3></li>
        <li><h4>We already have put in place several ways for professional investors to save time, in the form of searchable modules.  At the start of the service these will take the form of curated links but future development will move significantly beyond this. A list of current modules is available <%= link_to "here.", content_path %></h4></li>
        </div>
        <div class="col3" id="col3stat" >
        <li class="imgcont" ><%= image_tag 'centralized.svg', class: "hiwimres", id: "hiwimres3" %></li>
        <li><h3>Tomorrow</h3></li>
        <li><h4>We aim to add new content at a rapid pace, exponentially growing the use of the platform to professional investors, and the amount of time  that the investing community can save.  The site will grow to be the go-to briefing source for any investment.  A list of some of the future modules can be found <%= link_to "here.", content_path %></h4></li>
        </div>
      </ul> 
  </div>
      <div style="clear: both; height: 4em;"></div>

</section>
  