<div class="contentmod" >
<h2>Minerva SI bespoke content</h2>

<div class="contentleft">
<h2>Hard to find information</h2>
<ul>
<li><%= image_tag 'judge1.svg' %><h5>Legal information such as takeover regulations.</h5></li>
<li><%= image_tag 'career.svg' %><h5>The interesting parts of investor relation's sites</h5></li>
<li><%= image_tag 'bank11.svg' %><h5>Central Bank and other financial information (i.e BIS, IMF)</h5></li>
<li><%= image_tag 'open131.svg' %><h5>Other static information in link form</h5></li>

</ul>
</div>
<div class="contentright">
<h2>Bespoke Research</h2>
<ul>
<li><%= image_tag 'global5.svg' %><h5>Macroeconomic and Political understanding</h5></li>
<li><%= image_tag 'eco4.svg' %><h5>Sector and industry undersatnding</h5></li>
<li><%= image_tag 'bank11.svg' %><h5>Corporate and financials understanding</h5></li>
<li><%= image_tag 'books8.svg' %><h5>Books and other sources</h5></li>

</ul>
</div>
<div class="clearer">
<h2>"Understanding has more value than opinion."</h2>
</div>
</div>