
<section class="container1">
	

	<div class = "simplelogo" >
		<%= image_tag 'logosvg.svg' %>
	
	</div>	

	<% if user_signed_in? %>
		<div class="login">
			<h2><%= link_to "You are logged in click here to enter site", new_user_find_path(current_user.id), class: "mainlink" %> </h2>
		</div>
	<% else %>
		<div class="loginform" id="loginform" %>
			<%= render 'users/sessions/new' %>

		

	<% end %>
	

<div class="strapline" >

  <h1>Research Re-engineered</h1>
  <h2>Our Research. Our Technology. Your Research Process.</h2>
</div>



</section>

<section class="container2">
	<div class="explanation1" id="hiw">
			<h1>How it works</h1>
			<div class="quarter"> 
			<ul  >
	   		<li><%= image_tag 'eye107.svg' %></li>
				<li><h3>1. We Research</h3></li>

	   		<li><h4>Using our own technology we curate investment intelligence in areas of interest for investors. Our team of researchers and editors undertakes the difficult and time consuming ground work of researching information and finding the right sources of intelligence. We also continually monitor these sources to ensure the best possible quality of information at all times.</h4></li></br>
	   	</ul>	
	   	<ul >
	   		<li><%= image_tag 'key174.svg', class: "hiwimres" %></li>
				<li><h3>2. You Register for an Account</h3></li>
	   		

	   		<li><h4>You register for an account with Minerva and after your details are verified we create your secure profile. Once your account is ready, you will have access to the same smart tagging technology our research team uses and our bespoke research delivery algorithm. If your account includes access to our resarch you will have instant access to our professionally curated research content.</h4></li>
	   	</ul>	
	   	</div>
	   	<div class="quarter2">
	   	<ul >
	   		<li><%= image_tag 'magnifying glass.svg', class: "hiwimres" %></li>
				<li><h3>3. You Research</h3></li>
	   		
	   		

	   		<li><h4 id="lesstext" >Using our bespoke information capturing technology you can input your own content, be it information, data points, notes or comments. This content will be secure and available only to you (and your team or community, if you elect so) and you will have complete control to edit it or delete it. Through an intuitive interface you search for the intelligence required.  </h4></li>
	   	</ul>
	   	<ul >	
	   		<li><%= image_tag 'clock101.svg', class: "hiwimres" %></li>
				<li><h3>4. You Profit</h3></li>

	   		<li><h4>Our proprietary algorithm prepares a query-specific document in response to your search, combining our professionally curated intelligence with any appropriate content you have entered, and delivers it instantly to you. You get the information you were looking for without extraneous noise, and this saves you significant time for decision making. </h4></li>
	   	</ul>	
	   	</div>
	   	<div style="clear: both; height: 4em;"></div>
	</div>

</section>

<section class="container3">
	<div class="strap1" >
		<h1>Research meets innovation</h1><h2>Because finding information doesn’t have to be time consuming</h2>
	</div>	
</section>

<section class="container4">
	<div class="explanation2" id="About">
		<h1>About us</h1>
			<ul>
				 <div class="col1" >
        <li class="imgcont" ><%= image_tag 'speed4.svg', class: "hiwimres", id: "hiwimres1" %></li>
        <li><h3>The Technology</h3></li>
        <li><h4>The idea behind the information capture technology has been developed over the years we have apent as researchers ourselves. Likewise, the algorithm is the result of many years spent trying to improve the delivery and consumption of information. </h4></li>
        </div>
        <div class="col2" >
        <li class="imgcont" ><%= image_tag 'connected4.svg', class: "hiwimres", id: "hiwimres2" %></li>
        <li><h3>Your Community</h3></li>
        <li><h4>This bespoke technology allows you to build research communities.  This can be within organisations, with your friends or any other research community that you care to build.  Your information is only shared with those you wish to share it.  We have no access to the information you enter into our system.</h4></li>
        </div>
        <div class="col3" id="col3stat" >
        <li class="imgcont" ><%= image_tag 'centralized.svg', class: "hiwimres", id: "hiwimres3" %></li>
        <li><h3>The Information</h3></li>
        <li><h4>Information is truly separated from layout at Minerva.  Each information 'point' is seen as a node in a neural network of information points.  This allows the system to deliver information effectively and efficiently.  It also allows the system to identify links between information that may otherwise have been overlloked.</h4></li>
        </div>
	   	</ul>	
	</div>
	   	<div style="clear: both; height: 4em;"></div>

</section>

<section class="container5">
	<div class="entrybox" >
		<h1>Register for an account</h1>
	</div>
		<div class="registerform" id="registerform" >
			<%= render 'users/registrations/new' %>

		</div>
	
		
<div class="entrybox2" >
		<h1>Receive updates</h1>
	</div>
		
		<div class="moreinfo" id="moreinfoform" >
			<%= render 'moreinfos/new' %>
		</div>


</section>







