
<section class="container1">
	

	<div class = "simplelogo" >
		<%= image_tag 'logosvg.svg' %>
	
	</div>	

	<% if user_signed_in? %>
		<div class="login">
			<h2><%= link_to "You are logged in enter site", new_user_find_path(current_user.id), class: "mainlink" %> </h2>
		</div>
	<% else %>
		<div class="loginform" id="loginform" %>
			<%= render 'users/sessions/new' %>

		

	<% end %>
	

<div class="strapline" >

  <h1>Because finding investment information doesn’t have to be time consuming</h1>
</div>



</section>

<section class="container2">
	<div class="explanation1" id="hiw">
			<h1>How it works</h1>
			<div class="quarter">
			<ul  >
	   		<li><%= image_tag 'eye107.svg' %></li>
				<li><h3>We Research</h3></li>

	   		<li><h4>We collate intelligence in specific areas of interest for professional investors (we call them “modules”) by undertaking the difficult and time consuming ground work.  Additionally, to ensure the intelligence does not become dated we continually monitor for changes.</h4></li>
	   	</ul>	
	   	<ul >
	   		<li><%= image_tag 'magnifying glass.svg', class: "hiwimres" %></li>
				<li><h3>You Search</h3></li>

	   		<li><h4>You search within the available modules for the information required.  Search results are instant and referenced to source documentation where relevant.  The service aims to respond to the needs of our users, so we actively seek suggestions for new modules from our users.</h4></li>
	   	</ul>	
	   	</div>
	   	<div class="quarter2">
	   	<ul >

	   		
	   		<li><%= image_tag 'key174.svg', class: "hiwimres" %></li>
				<li><h3>You Register for an Account</h3></li>

	   		<li><h4 id="lesstext" >As a professional investor you register for free with Minerva and after your details are verified  we create your secure account.  The service is only currently available to professional investors in any asset class.</h4></li>
	   	</ul>
	   	<ul >	
	   		<li><%= image_tag 'clock101.svg', class: "hiwimres" %></li>
				<li><h3>You Save Time</h3></li>

	   		<li><h4>You get the information you were looking for instantly, and this saves you significant time for decision making.  As the service grows the usefulness to organisations will grow exponentially.</h4></li>
	   	</ul>	
	   	</div>

	</div>

</section>

<section class="container3">
	<div class="strap1" >
		<h1>Critical intelligence and data for the professional investor, so you can focus on what really counts, making the right decision</h1>
	</div>	
</section>

<section class="container4">
	<div class="explanation2" id="About">
		<h1>About us</h1>
			<ul>
				<div class="col1" >
	   		<li><%= image_tag 'speed4.svg', class: "hiwimres", id: "hiwimres1" %></li>
	   		<li><h3>The Platform</h3></li>
	   		<li><h4>We have built a web-based platform to significantly reduce the time required to find the information and data you need.  The web platform is secure and aims to meet professional investors requirements.</h4></li>
	   		</div>
	   		<div class="col2" >
	   		<li><%= image_tag 'connected4.svg', class: "hiwimres", id: "hiwimres2" %></li>
	   		<li><h3>Today</h3></li>
	   		<li><h4>We have already put in place several ways for professional investors to save time, in the form of searchable modules.  At the start of the service these will take the form of curated links. A list of current modules is available <%= link_to "here.", content_path %></h4></li>
	   		</div>
	   		<div class="col3">
	   		<li><%= image_tag 'centralized.svg', class: "hiwimres", id: "hiwimres3" %></li>
	   		<li><h3>Tomorrow</h3></li>
	   		<li><h4>We aim to add new content at a rapid pace, exponentially growing the usefulness of the platform to professional investors, and the amount of time  that the investing community can save.  The site will grow to be the go-to briefing source for any investment.  A list of some of the future modules can be found <%= link_to "here.", content_path %></h4></li>
	   		</div>
	   	</ul>	
	</div>
</section>

<section class="container5">
	<div class="entrybox" >
		<h1>Receive updates or sign up</h1>
	</div>
		<div class="moreinfo" id="moreinfoform" >
			<%= render 'moreinfos/new' %>
		</div>

		
		<div class="registerform" id="registerform" >
			<%= render 'users/registrations/new' %>

		</div>
	


</section>







