<!DOCTYPE html>
<html>
<head>
  <title>Minerva - Simplifying Information</title>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700|Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

	<title></title>

	<meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
	

  <script src="" ></script>

	

	<!--[if lt IE 9]>
    		<script src="js/html5shiv.js"></script>
    		<script src="js/respond.min.js"></script>
  <![endif]-->

  <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }
  </style>

  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
      .en-markup-crop-options {
          top: 18px !important;
          left: 50% !important;
          margin-left: -90px !important;
          width: 180px !important;
          border: 2px rgba(255,255,255,.38) solid !important;
          border-radius: 4px !important;
      }

      .en-markup-crop-options div div:first-of-type {
          margin-left: 0px !important;
      }
  </style>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55331302-6', 'auto');
  ga('send', 'pageview');

  </script>
  <script type="text/javascript">
      $(document).ready(function() {
      $('#find_tag_list_tokens').tokenInput('/finds/tags.json', {
          theme: 'facebook',
          minChars: 2,
          allowCustomEntry: true,
          preventDuplicates: true,
          prePopulate: <%= @searchedtags.to_json.html_safe %>
      });
   });      
    </script>
    <script>
      $(document).ready(function() {
        $( "#accordion" ).accordion({
          animate: 200, collapsible: true
        });
        $( "#sortable_0" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_1" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_2" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_3" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_4" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_5" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_6" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_7" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_8" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $( "#sortable_9" ).sortable({
          placeholder: "ui-sortable-placeholder"
        });
        $(".jquery-ui-date").datepicker({
          altField: "#recorded-at-alt",
          altFormat: "dd-mm-yy"
          });
        $("#datatable_0").tablesorter();
        $("#datatable_1").tablesorter();
        $("#datatable_2").tablesorter();
        $("#datatable_3").tablesorter();
        $("#datatable_4").tablesorter();
        $("#datatable_5").tablesorter();
        $("#datatable_6").tablesorter();
        $("#datatable_7").tablesorter();
        $("#datatable_8").tablesorter();
      });
    </script>  
  
</head> 
<body class="nonland" >
<div class="navholder" data-no-turbolink>
<% if user_signed_in? %>
    <p></p>
    <ul class="openingnav">
    <li id="helpicon"><h4><%= link_to image_tag("faq8.png", height: "23px", alt: "Help", title: "Help page"), instructions_path %></h4></li>
    <li id="helloperson">Hello <%= current_user.fname %></li>
    </ul>
    <% end %>
    <div id="cssmenuhol">
<div id='cssmenu'>

  <ul>

<% if user_signed_in? %>

      <li class='active has-sub'><a href='#'><span>Review</span></a>
      <ul>
      <li><a href='#'><span><%= link_to "Calendar", calendar_user_path(current_user.id) %></span></a></li>
      <li class='last'><a href='#'><span><% if current_user.has_role? :sandbox %><%= link_to "Current Issues", current_path(current_user.id) %><% else %><% end %></span></a></li>
      </ul>

      <li class='active has-sub'><a href='#'><span>Notebook</span></a>
      <ul>
      <li><a href='#'><span><%= link_to "All notebooks", user_drafts_path(current_user.id) %></span></a></li>
    <li class='last'><a href='#'><% if current_user.has_role? :sandbox %><%= link_to "New Note taking", new_user_draft_path(current_user.id) %><% else %><% end %></span></a></li>
    </ul>
    

    <li><a href='#'><%= link_to "Search Research", new_user_find_path(current_user.id) %></span></a></li>
    <li class='active has-sub'><a href='#'><span>User</span></a>
      <ul>
    <% if current_user.has_role? :admin %>
    <li><a href='#'><%= link_to "Dashboard", dashboard_admin_user_path(current_user.id) %></span></a></li>
  <% else %>
    <li><a href='#'><%= link_to "Dashboard",dashboard_user_path(current_user.id) %></span></a></li>
  <% end %> 
  <li><a href='#'><%= link_to "Edit Account", edit_user_registration_path(current_user.id) %></span></a></li>
  <li><a href='#'><%= link_to "Created topics", user_linkcats_path(current_user.id) %></span></a></li>
  <li><a href='#'><%= link_to "Created headings", user_docstructures_path(current_user.id) %></span></a></li>
  <li><a href='#'><%= link_to "Processed data entered", dataentered_user_path(current_user.id) %></span></a></li>
   <li class='last'><a href='#'><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></span></a></li>
   </ul>

     
<% end %>
    
</ul>
</div>
</div>
</div>

<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <div id="spinner">
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
  <span class="dots"></span>
</div>

<%= yield %>
<div class="foot">
<div class="footer" >
 <% if current_user %>
 <% else %>
  <%= render "devise/shared/links" %>
 <% end %>
   

 <div class ="footernav" >
   <ul>
     <li><small><%= link_to "Home", root_path %></small></li>

     <li><small><%= link_to "Legal", legal_path %></small></li>
     <li><small><%= link_to "Content", content_path %></small></li> 
     <li><small><%= link_to "Contact us", contactus_path %></small></li>
     <li><small>Email us at info@minervasi.com</small></li>
   
     <li><small>(c)Miverva SI Ltd 2015. </small></li>
   </ul> 
</div>   

 <div id="sicontainer1" >
          <ul id="sinav1" >
            <li><a href="https://twitter.com/minerva_si" target="_blank" ><h3  >a</h3></a></li>
            <li><a href="https://www.linkedin.com/company/minerva-si?trk=biz-companies-cym" target="_blank"><h3  >j</h3></a></li>
            <li><a href="http://www.pinterest.com/minervasi/" target="_blank"><h3  >x</h3></a></li>
            <li><a href="https://vimeo.com/minervasi" target="_blank"><h3  >s</h3></a></li>
          </ul>
      </div>
      

</div>

   </div>

</body>
</html>
