<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  

<div class="newdeclarative" >
<h2>Edit Sandbox Note</h2>



<%= simple_form_for @declarative, url: user_declarative_path, method: :put do |f| %>
  <div class="navig">
	<h4>Topic</h4><%= f.input :linkcat_id, collection: @linkcat, value_method: :id, label_method: :linkcatname, label: false, prompt: "Area" %>

	<h4>Heading</h4><%= f.input :docstructure_id, collection: @headings, value_method: :id, label_method: :headingname, label: false, prompt: "Heading" %>
  </div>
  <div class="declarativeentry">

  <h4>Topic<sup><%= link_to " ?", instructions_path(anchor: 'sandtopicenter'), id: 'topic' %></sup></h4><%= f.input :linkcat_id, collection: @linkcat.where(:linkcattype => "Information"), value_method: :id, label_method: :linkcatname, label: false, prompt: "Area" %>
  

  <h4>Heading<sup><%= link_to " ?", instructions_path(anchor: 'sandheading'), id: 'heading' %></sup></h4><%= f.input :docstructure_id, collection: @headings, value_method: :id, label_method: :headingname, label: false, prompt: "Heading" %>

  <h4 id="navigtext">Review Date<sup><%= link_to " ?", instructions_path(anchor: 'dateenter'), id: 'enterdate' %></sup></h4>

  <%= f.input :reviewdate, as: :string, :input_html => { :class => 'jquery-ui-date'}, label: false %></p>
  <%= f.input :reviewdate, as: :hidden, :input_html => { :id => 'recorded-at-alt'} %>

  <% if current_user.freeuser == false %>
    <%= f.input :declarativeimage, label: false %>
   <% else %>
  
  <%= link_to "Delete Data", admin_declarative_path(params[:id]), method: :delete, id: "deleter" %>
  
  </div>
  <div class="declarativeentry">

  <%= f.input :urlsource, label: false, placeholder: "url of source" %><%= f.input :entryend, label: "" %>


  <%= f.input :declarativejusttext, label: false, placeholder: "Note or description of image" %>

 <h4 id="navigtext1">Type of data entered<sup><%= link_to " ?", instructions_path(anchor: 'datatype'), id: 'typedata' %></sup> </h4>

 <div class="radiofloat">

  
<%= f.input :entryhierarchy, as: :radio_buttons, collection: ["Claim","Evidence","Fact"], label: false, label: false %>
   <%= f.input :texttype, as: :radio_buttons, label: false, collection: ["Text","List title","List Item"] %>

  </div>
  <%= f.button :submit, 'Edit' %>
  </div>
<% end %>
<div class="instructions" id="sandedit">
  <%= link_to "Delete Data", user_declarative_path(current_user.id, params[:id]), method: :delete %>

<ul>
<li><h4>Use a # before extra hashtags - you do not need to hastag the area name and heading that is done automatically.</h4></li>
<li><h4>  Use a ~ before a data item, followed by its unit, please write the number in full.</h4></li>
<li><h4>Please select the type of statement, is it a claim statement or evidence for a claim statement?</h4></li>
<li><h4>Please select if the item is a list item or a text item</h4></li>
<li><h4>Check the boxes if you have finished with the source and the section.</h4></li>
</ul>
</div>
</div>

