<section class="resultspage" >
<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
	
</div>	
<div id="searchreturn" >
	
	<h2>Report for <i><%= @user.fname %></i>&nbspon&nbsp<i><%= @request %></i>&nbsp in&nbsp<i><%= @topic %></i>&nbsptopic<% if @searchterm.blank? %><% else %>&nbspfiltered for the search term <i><%= @searchterm %><%= @pretags %><% end %></i>.</h2>

	
	</div>

<%= render 'finds/edit' %>

 
				
	
				<% @b=0 %>
				<% @listitem = 0 %>
				
<div class="reportcard" >


		<% @declaratives.each do |declarative| %>
			<% if declarative.texttype == "List title" %>
					<% if @listitem == 1 %></div><% @listitem = 0 %><% else %><% end %>

				<div class="reportlisttitle" >
					<% if @b == declarative.linkcat_id %><% else %><h2><%= Linkcat.find(declarative.linkcat_id).linkcatname %></h2><% @b = declarative.linkcat_id %><%end%>
					<% if @request == Docstructure.find(declarative.docstructure_id).headingname %><% else %><% if @c == declarative.docstructure_id %><% else %><h3><%= Docstructure.find(declarative.docstructure_id).headingname %></h3><% @c = declarative.docstructure_id %><% end %><% end %>
					<% if declarative.sandbox == true %><h4><%= declarative.declarativetext %><% if current_user.id == declarative.user_id %><small>&nbsp(personal)</small><%else %><small>&nbsp(friend&nbsp<%= User.find(declarative.user_id).fname %>&nbsp<%= User.find(declarative.user_id).lname %>)</small><% end %><% else %><h4><%= declarative.declarativetext %><% end %>
					<% if declarative.urlextra.blank? %>
					<% else %>
						<%= link_to "Extra Sources", declarative.urlextra[0], target: '_blank' %>
					<% end%></h4>
				</div>
			<% elsif declarative.texttype == "List Item" %>
				<% if @listitem == 0 %><div class="reportlist" ><% else %><% end %>
					<% @listitem = 1 %>
					<% if @b == declarative.linkcat_id %><% else %><h2><%= Linkcat.find(declarative.linkcat_id).linkcatname %></h2><% @b = declarative.linkcat_id %><%end%>
					<% if @request == Docstructure.find(declarative.docstructure_id).headingname %><% else %><% if @c == declarative.docstructure_id %><% else %><h3><%= Docstructure.find(declarative.docstructure_id).headingname %></h3><% @c = declarative.docstructure_id %><% end %><% end %>
					<% if declarative.sandbox == true %><h4><%= declarative.declarativetext %><% if current_user.id == declarative.user_id %><small>&nbsp(personal)</small><%else %><small>&nbsp(friend&nbsp<%= User.find(declarative.user_id).fname %>&nbsp<%= User.find(declarative.user_id).lname %>)</small><% end %><% else %><h4><%= declarative.declarativetext %><% end %>
					<% if declarative.urlextra.blank? %>
					<% else %>
						<%= link_to "Extra Sources", declarative.urlextra[0], target: '_blank' %>
					<% end%></h4>
			<% else %>
				<% if @listitem == 1 %></div><% @listitem = 0 %><% else %><% end %>
				<% if @b == declarative.linkcat_id %><% else %><h2><%= Linkcat.find(declarative.linkcat_id).linkcatname %></h2><% @b = declarative.linkcat_id %><%end%>
				<% if @request == Docstructure.find(declarative.docstructure_id).headingname %><% else %><% if @c == declarative.docstructure_id %><% else %><h3><%= Docstructure.find(declarative.docstructure_id).headingname %></h3><% @c = declarative.docstructure_id %><% end %><% end %>
				<% if declarative.sandbox == true %><h4><%= declarative.declarativetext %><% if current_user.id == declarative.user_id %><small>&nbsp(personal)</small><%else %><small>&nbsp(friend&nbsp<%= User.find(declarative.user_id).fname %>&nbsp<%= User.find(declarative.user_id).lname %>)</small><% end %><% else %><h4><%= declarative.declarativetext %><% end %>
				<% if declarative.urlextra.blank? %>
				<% else %>
					<%= link_to "Extra Sources", declarative.urlextra[0], target: '_blank' %>
				<% end%></h4>
				<% if declarative.declarativeimage.blank? %><% else %><%= image_tag declarative.declarativeimage.url %><% end %>
			<% end %>
			

			
		<% end %>
					<% if @listitem == 1 %></div><% @listitem = 0 %><% else %><% end %>

</div>	

		<% @url = "" %>
		<div class="sources" >
		<h4>Sources</h4>
	<% @declaratives.each do |declarativeu| %>
	
			 <% if @url == declarativeu.urlsource %><% else %><h6><%= link_to declarativeu.urlsource, declarativeu.urlsource %></h6><% @url = declarativeu.urlsource %><% end %>
	<%end%>
	</div>
	


<div class="searchag" >
 <h4><%= link_to "Search again", new_user_find_path(current_user.id) %></h4>
</div>
</section>