<section class="resultspage" >
<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
	
</div>	
<div id="searchreturn" >
	
	<h2>Report for <i><%= @user.fname %></i>&nbspon&nbsp<i><%= @request %></i>&nbsp in&nbsp<i><%= @topic %></i>&nbsptopic<% if @searchterm.blank? %><% else %>&nbspfiltered for the search term <i><%= @searchterm %><% end %></i>.</h2>
	
</div>
 
				
	
				<% @b=0 %>

		<% @declaratives.each do |declarative| %>
<div class="reportcard" >
			
			<h2><% if @b == declarative.linkcat_id %><% else %><%= Linkcat.find(declarative.linkcat_id).linkcatname %><% @b = declarative.linkcat_id %><%end%></h2>
			<h3><% if @request == Docstructure.find(declarative.docstructure_id).headingname %><% else %><% if @c == declarative.docstructure_id %><% else %><%= Docstructure.find(declarative.docstructure_id).headingname %><% @c = declarative.docstructure_id %><% end %><% end %></h3>
			<h4><% if declarative.sandbox == true %><% if current_user.id == declarative.user_id %><%= declarative.declarativetext %><small>&nbsp(sandbox)</small><%else %><% end %><% else %><%= declarative.declarativetext %><% end %>
			<% if declarative.urlextra.blank? %>
			<% else %>
				<%= link_to "Extra Sources", declarative.urlextra[0], target: '_blank' %></h4>
			<% end%>
			<% if declarative.declarativeimage.blank? %><% else %><%= image_tag declarative.declarativeimage.url %><% end %>
			

</div>	
			
		<% end %>

	

<div class="searchag" >
 <h4><%= link_to "Search again", new_user_find_path(current_user.id) %></h4>
</div>
</section>