<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  

<div class="newdeclarative" >
<h2>New Note Taking Session</h2> 



<%= simple_form_for @declarative, url: user_declaratives_path, method: :post do |f| %>
  <div class="navig">
  <h4>Set the source</h4>
    
  <%= f.input :urlsource, label: false, placeholder: "url of source", input_html: {value: @urllast} %><sup id="urlsup"><%= f.input :entryend, label: "" %><%= link_to " ?", instructions_path(anchor: 'urlentryinfo'), id: 'urlentry' %></sup>

	<div class="selector"><%= link_to image_tag("pen61.svg", height: "16px", alt: "Search page", title: "Create topic"), new_user_linkcat_path(current_user.id) %><sup class="createnew"><%= link_to " ?", instructions_path(anchor: 'enternewtopic'), id: 'newtopic' %></sup><%= f.input :linkcat_id, collection: @linkcat.where(:linkcattype => "Information"), value_method: :id, label_method: :linkcatname, label: false, prompt: "Topic", selected: @area %></div>
  

	<div class="selector"><%= link_to image_tag("pen61.svg", height: "16px", alt: "Search page", title: "create heading"), new_user_docstructure_path(current_user.id) %><sup class="createnew"><%= link_to " ?", instructions_path(anchor: 'enternewheading'), id: 'newheading' %></sup><%= f.input :docstructure_id, collection: @headings, value_method: :id, label_method: :headingname, label: false, prompt: "Heading", selected: @headinglast %></div>


  
  

   
    
   
  </div>
  <div class="declarativeentry">

  <h4>Enter the information</h4>
  
  


  <%= f.input :declarativejusttext, label: false, placeholder: "Note detail" %><sup><%= link_to " ?", instructions_path(anchor: 'textentry'), id: 'textenter' %></sup>

 <h6 id="navigtext1"><sup><%= link_to " ?", instructions_path(anchor: 'datatype'), id: 'typedata' %></sup> </h6>

 

 <h4 id="navigtext"><sup><%= link_to " ?", instructions_path(anchor: 'dateenter'), id: 'enterdate' %></sup></h4>
 

  <%= f.input :reviewdate, as: :string, :input_html => { :class => 'jquery-ui-date'}, label: false, placeholder: "Optional review date" %></p>
  <%= f.input :reviewdate, as: :hidden, :input_html => { :id => 'recorded-at-alt'} %>

          <% if current_user.freeuser == false %>
    <%= f.input :declarativeimage, label: false %>
   <% else %>
   <% end %> 
 

    

  <div class="submitdec">


  <%= f.button :submit, 'Add New Note' %>
  </div>
  </div>

<% end %>

</div>

