<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	

<% @linkcatid = params[:query]%>
<b><%= link_to "Delete link", admin_wlink_path(params[:id]), method: :delete %></b>

<div class="newopen">
<h1>Edit the new link</h1>


<%= simple_form_for [@user, @wlink], url: admin_wlink_path(params[:id]), method: :put do |f| %>

<%= f.input :wlinkname, label: false, placeholder: "Name" %>
	<%= f.input :wlinkurl, label: false, placeholder: "url" %>
	<%= f.input :wlinkdesc, label: false, placeholder: "Description" %>
	<%= f.input :wlinksource, label: false, placeholder: "Source" %>
	<%= f.input :wlinkyear, as: :date, start_year: Date.today.year - 50,
                              end_year: Date.today.year, discard_day: true,
                              order: [:month, :year],label: false %>
	<%= f.input :wlinkveri, collection: ["1","2","3"], label: false, prompt: "Veracity(1 high)" %>
	<%= f.input :wlinklang, label: false, placeholder: "Language" %>
	

	<%= f.text_field :tag_list, label:false, placeholder: "Tags (separate by commas)" %>
	<div class="hidlinkcat" >
	<%= f.input :linkcat_id, input_html: { value: params[:query]} %>
	<%= f.input :user_id, input_html: { value: current_user.id} %>

	</div>
	<h4>Will be created in the Module&nbsp<%= Linkcat.find(params[:query]).linkcatname %></h4>

	

	<%= f.button :submit, 'Edit link' %>

<% end %>
</div>

