<h1>Add a new link</h1>
<% @linkcatid = params[:query]%>
<div class="newopen">

<%= simple_form_for [@user, @wlink], url: admin_wlinks_path(query: @linkcatid), method: :post do |f| %>

<h4>Name</h4><%= f.input :wlinkname, label: false %>
	<h4>url</h4><%= f.input :wlinkurl, label: false %>
	<h4>Description</h4><%= f.input :wlinkdesc, label: false %>
	<h4>Source</h4><%= f.input :wlinksource, label: false %>
	<h4>Year</h4><%= f.input :wlinkyear, label: false %>
	<h4>Veracity(1 high, 3 low)</h4><%= f.input :wlinkveri, collection: ["1","2","3"], label: false %>

	<h4>Tags (separate by commas)</h4><%= f.text_field :tag_list, label:false %>
	<div class="hidlinkcat" >
	<%= f.input :linkcat_id, input_html: { value: params[:query]} %>
	<%= f.input :user_id, input_html: { value: current_user.id} %>

	</div>
	<h4>Will be created in the Module</h4><%= Linkcat.find(params[:query]).linkcatname %>

	<%= f.button :submit, 'Add new link' %>

<% end %>
</div>