<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  


<div class="newdeclarative" >
<h2>New Note</h2>
 


<%= simple_form_for @declarative, url: admin_declaratives_path, method: :post do |f| %>
  <div class="navig">
	<h4>Topic<sup><%= link_to " ?", instructions_path(anchor: 'sandtopicenter'), id: 'topic' %></sup><%= link_to image_tag("pen61.svg", height: "16px", alt: "Search page", title: "Create topic"), new_user_linkcat_path(current_user.id), class: "createnew" %><sup class="createnew"><%= link_to " ?", instructions_path(anchor: 'enternewtopic'), id: 'newtopic' %></sup></h4><%= f.input :linkcat_id, collection: @linkcat.where(:linkcattype => "Information"), value_method: :id, label_method: :linkcatname, label: false, prompt: "Area", selected: @area %>
  

  <h4>Heading<sup><%= link_to " ?", instructions_path(anchor: 'sandheading'), id: 'heading' %></sup><%= link_to image_tag("pen61.svg", height: "16px", alt: "Search page", title: "create heading"), new_user_docstructure_path(current_user.id), class: "createnew" %><sup class="createnew"><%= link_to " ?", instructions_path(anchor: 'enternewheading'), id: 'newheading' %></sup></h4><%= f.input :docstructure_id, collection: @headings, value_method: :id, label_method: :headingname, label: false, prompt: "Heading", selected: @headinglast %>

  <h4 id="navigtext">Review Date<sup><%= link_to " ?", instructions_path(anchor: 'dateenter'), id: 'enterdate' %></sup></h4>

  <%= f.input :reviewdate, as: :string, :input_html => { :class => 'jquery-ui-date'}, label: false %></p>
  <%= f.input :reviewdate, as: :hidden, :input_html => { :id => 'recorded-at-alt'} %>

  <%= f.input :declarativeimage, label: false %>
  
  </div>
  <div class="declarativeentry">

  <%= f.input :urlsource, label: false, placeholder: "url of source", input_html: {value: @urllast} %><%= f.input :entryend, label: "" %>


  <%= f.input :declarativejusttext, label: false, placeholder: "Note or description of image" %>

 <h6 id="navigtext1">Type of data<sup><%= link_to " ?", instructions_path(anchor: 'datatype'), id: 'typedata' %></sup> </h6>


  


  





  <%= f.button :submit, 'Add' %>
  </div>

<% end %>

</div>

