<div class="logo" id="logosearch" >
    <%= image_tag 'logo.svg' %>
  
</div>  


<div class="newdeclarative" >
<h2>New Note</h2>
 


<%= simple_form_for @declarative, url: admin_declaratives_path, method: :post do |f| %>
  <div class="navig">
	<h4>Topic</h4><%= f.input :linkcat_id, collection: @linkcat, value_method: :id, label_method: :linkcatname, label: false, prompt: "Area", selected: @area %>
  <%= link_to "New Topic?", new_user_linkcat_path(current_user.id) %>


	<h4>Heading</h4><%= f.input :docstructure_id, collection: @headings, value_method: :id, label_method: :headingname, label: false, prompt: "Heading", selected: @headinglast %>
  <%= link_to "New heading?", new_user_docstructure_path(current_user.id) %>

  <h4 id="navigtext">Review Date<sup><%= link_to " ?", instructions_path(anchor: 'dateenter'), id: 'enterdate' %></sup></h4>

  <%= f.input :reviewdate, as: :date, start_year: Date.today.year - 50,
                              end_year: Date.today.year, 
                              order: [:day, :month, :year],label: false %></p>

  <%= f.input :declarativeimage, label: false %>
  
  </div>
  <div class="declarativeentry">

  <%= f.input :urlsource, label: false, placeholder: "url of source", input_html: {value: @urllast} %><%= f.input :entryend, label: "" %>


  <%= f.input :declarativejusttext, label: false, placeholder: "Note or description of image" %>

 <h4 id="navigtext1">Type of data entered<sup><%= link_to " ?", instructions_path(anchor: 'datatype'), id: 'typedata' %></sup> </h4>

 <div class="radiofloat">

  
<%= f.input :entryhierarchy, as: :radio_buttons, collection: ["Claim","Evidence","Fact"], label: false, label: false %>
   <%= f.input :texttype, as: :radio_buttons, label: false, collection: ["Text","List title","List Item"] %>

  </div>
  


  





  <%= f.button :submit, 'Add' %>
  </div>

<% end %>

</div>

