<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	

<b><%= link_to "Create Heading", new_admin_docstructure_path %></b>
<div class="modadmin">
<table>
	<thead>
		<tr>
			<th>Heading</th>
			<th>Created by</th>
			<th>Edit heading</th>
			<th>Live issue?</th>
			<th>Released?</th>
		</tr>
	</thead>
	<tbody>	
		<% policy_scope(@docstructures).each do |docstructure| %>
		<tr>
			<td><%= docstructure.headingname %></td>
			<td><%= User.find(docstructure.user_id).fname %>&nbsp<%=	User.find(docstructure.user_id).lname %></td>
			
			<td><%= link_to "Edit", edit_admin_docstructure_path(docstructure.id) %></td>
			<td><% if docstructure.liveissue == true %>Yes<% else %>Historic<% end %>
			<td><%= docstructure.released %></td>
			
				
		</tr>		
<% end %>
</tbody>
</table>
</div>