<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	

<div class="newopen" >
<h2>New heading</h2>


<%= simple_form_for @docstructure, url: admin_docstructures_path, method: :post do |f| %>

  <%= f.input :headingname, label: false, placeholder: "name" %>

  <b>Release to public?<%= f.input :released, label: false %></b>

  <%= f.button :submit, 'Add new heading' %>

  <h4>Check the list of existing headings before adding another.  Make sure that the headings are set as 'breadcrumb' ie they refer the heading above directly.</h4>

<% end %>
</div>