<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	
<div class="userinfo" >
  <div class="accounttype" >
    <h4> Account type:&nbsp
    <% @user.roles.each do |role| %>
      <%= role.name %></h4>
    <% end %>
   
    <h4>Modules allowed:&nbsp
    All</h4>
  </div>  
</div>  

<div class="functions" >
<table>
	<tbody>
		<tr>
			<td><b><%= link_to "Module Index", admin_linkcats_path %></b></td>
			<td>Create and update modules</td>
		</tr>
		<tr>	
			<td><b><%= link_to "User Index", admin_users_path %></b></td>
			<td>User approvals</td>
		</tr>
		<tr>
			<td><b><%= link_to "Searches Admin", admin_finds_path %></b></td>
			<td>Analysis of searches on the site</td>
		</tr>
		<tr>
			<td><b><%= link_to "Check for broken links", broken_path %></b></td>
			<td>Broken link review</td>
		</tr>	
	</tbody>
</table>		
</div>