<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	
<div class="userinfo" >
  <div class="accounttype" >
    <h4> Account type:&nbsp
    <% @user.roles.each do |role| %>
      <%= role.name %>,
    <% end %>
   	</h4>
    <h4>Modules allowed:&nbsp
    All</h4>
  </div>  
</div>  

<div class="functions" >
<table>
	<tbody>
		<tr>
			<td><b><%= link_to "Module Index", admin_linkcats_path %></b></td>
			<td>Create and update modules</td>
		</tr>
		<tr>	
			<td><b><%= link_to "User Index", admin_users_path %></b></td>
			<td>User approvals</td>
		</tr>
		<tr>	
			<td><b><%= link_to "Heading Index", admin_docstructures_path %></b></td>
			<td>Create and edit headings</td>
		</tr>
		<tr>
			<td><b><%= link_to "Searches Admin", admin_finds_path %></b></td>
			<td>Analysis of searches on the site</td>
		</tr>
		<tr>
			<td><b><%= link_to "Check for broken links", broken_path %></b></td>
			<td>Broken link review</td>
		</tr>	
		<tr>
			<td><b><%= link_to "Enter new heading", new_admin_docstructure_path %></b></td>
			<td>Entry of new Document Structure</td>
		</tr>	
		<tr>
			<td><b><%= link_to "Enter research", new_admin_declarative_path %></b></td>
			<td>Entry of new Declarative</td>
		</tr>	
	</tbody>
</table>		
</div>