<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	


<div class="userinfo" >
  <div class="accounttype" >
    <h4> Account type:&nbsp
    <% @user.roles.each do |role| %>
      <%= role.name %>,
    <% end %>
   	</h4>
    <h4>Modules allowed:&nbsp
    All</h4>
  </div>  
</div>  

<div class="functions" >
<table>
	<tbody>
		<tr>
			<td><b><h3>Creation</h3></b></td>
		</tr>	
		<tr>
			<td><b><%= link_to "Module Index", admin_linkcats_path %></b></td>
			<td>Create and update modules</td>
		</tr>
		<tr>	
			<td><b><%= link_to "Heading Index", admin_docstructures_path %></b></td>
			<td>Create and edit headings</td>
		</tr>
		<tr>
			<td><b><%= link_to "Enter research", new_admin_declarative_path %></b></td>
			<td>Entry of new Declarative</td>
		</tr>	
		<tr>
			<td><b><h3>Personal Entry</h3></b></td>
		</tr>	
		<tr>
			<td><b><% if current_user.has_role? :sandbox %><%= link_to "Sandbox Dash", sandbox_user_path(current_user.id) %><% else %><% end %></b></td>
			<td>Go to the Sandbox dashboard</td>
		</tr>	
		<tr>
			<td><b><h3>Administrative functions</h3></b></td>
		</tr>
		<tr>	
			<td><b><%= link_to "User Index", admin_users_path %></b></td>
			<td>User approvals</td>
		</tr>
		<tr>
			<td><b><%= link_to "Check for broken links", broken_path %></b></td>
			<td>Broken link review</td>
		</tr>	
		<tr>
			<td><b><%= link_to "Searches Admin", admin_finds_path %></b></td>
			<td>Analysis of searches on the site</td>
		</tr>

	</tbody>
</table>		
</div>

<div class="friends" >
<h2>Friends</h2>
<ul>
<% @user.inverse_friends.each do |user| %>

  
    <% @friendship = Friendship.find_by user_id: user.id, friend_id: @user.id %>
    <% if @friendship.nil? %>
    <% else %>
	    <% if @friendship.approved == true %>
	    <li><h5><%=h user.fname %>&nbsp<%=h user.lname %><%= link_to "Remove friend", user_friendship_path(current_user.id, user.id, q: @friendship.id), method: :delete %></h5></li>
	    <%else%>
	    <%end%>
    <% end %>
<% end %>    
<% @user.friendships.each do |friendship| %>

    <% @friendship = Friendship.find_by user_id: @user.id, friend_id: friendship.friend_id %>
    <% if @friendship.nil? %>
    <% else %>
      <% if @friendship.approved.blank? %>
      
      <% else %>
    
    	<li><h5><%=h user.fname %>&nbsp<%=h user.lname %><%= link_to "Remove friend", user_friendship_path(current_user.id, friendship.id, q: @friendship.id), method: :delete %></h5></li>
  		<%end%>
  	<%end%>
<% end %>

</ul>
      <h2>Your request to friends awaiting approval</h2>

<ul>

<% @user.friendships.each do |friendship| %>
		
    <% @friendship = Friendship.find_by user_id: @user.id, friend_id: friendship.friend_id %>
    <% if @friendship.nil? %>
    <% else %>
      <% if @friendship.approved.blank? %>
        <li><h5><%=h friendship.friend.email %></h5></li>
      <% else %>
      <% end %>
    <% end%>    
<% end %>
</ul>




<h2>Friend requests for you</h2>

<ul>
  <% @user.inverse_friends.each do |user| %>

  
    <% @friendship = Friendship.find_by user_id: user.id, friend_id: @user.id %>
    <% if @friendship.approved.nil? %>
    <li><h5><%=h user.fname %>&nbsp<%=h user.lname %>

   
    
    <%= link_to "Approve friend request", approval_user_friendship_path(@friendship.friend_id, @friendship.id, q: 'approved') %>
    <%= link_to "Decline friend request", approval_user_friendship_path(@friendship.friend_id, @friendship.id, q: 'declined') %></h5>
    </li>
    <%else%>
    <%end%>
    
  <% end %>


</Ul>      
<h2>Add friends</h2>
<%= render 'friendships/new' %>
</div>
