<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	
<h4>User approval only approve if confirmed email!</h4>

<div class="modadmin">
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>email</th>
			<th>Company</th>
			<th>Position</th>
			<th>Confirmed at</th>
			<th>last sign in</th>
			<Th>Sign ins</Th>
			<th>Approved?</th>
			<th>Paid</th>
			<th>Role</th>
			<th>Modules</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>	
		<% policy_scope(@users).each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.fname %>&nbsp<%= user.lname %></td>
			<td><%= user.company %></td>
			<td><%= user.position %></td>
			<td><%= user.confirmed_at %></td>
			<td><%= user.last_sign_in_at %></td>
			<td><%= user.sign_in_count %></td>
			<td><%= user.approved %></td>
			<td><%if user.freeuser == true %>Free<% else %>Paid<% end %></td>
			<td><%= user.roles(:select => :name).collect(&:name) %></td>
			<td><% user.linkcats.each do |linkcat| %><%= linkcat.linkcatname %>,<% end %></td>
			<td id="tablink"><%= link_to "Edit", edit_admin_user_path(user.id) %></td>
		</tr>		
<% end %>
</tbody>
</table>
</div>


