<div class="logo" id="logosearch" >
		<%= image_tag 'logo.svg' %>
	
</div>	
<div class="newopen" >
<h2>New topic</h2>


<%= simple_form_for @linkcat do |f| %>

  <%= f.input :linkcatname, label: false, placeholder: "name" %>

  

  <%= f.input :linkcatdesc, label: false, placeholder: "description" %>

 

  

  <%= f.button :submit, 'Add new topic' %>

<% end %>
</div>