<!DOCTYPE html>
<html>
<head>
  <title>Minerva - Simplifying Information</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700|Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

	<title></title>

	<meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
	

  <script src="" ></script>
	

	<!--[if lt IE 9]>
    		<script src="js/html5shiv.js"></script>
    		<script src="js/respond.min.js"></script>
  <![endif]-->

  <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }
  </style>

  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
      .en-markup-crop-options {
          top: 18px !important;
          left: 50% !important;
          margin-left: -90px !important;
          width: 180px !important;
          border: 2px rgba(255,255,255,.38) solid !important;
          border-radius: 4px !important;
      }

      .en-markup-crop-options div div:first-of-type {
          margin-left: 0px !important;
      }
  </style>
</head>
<body>
<div class="fixedhead" >
    <ul >
        <li><a href="http://www.minervasi.com" id="logotopleft" >Minerva SI logo</a></li>
          
   </ul> 
   <div id="sicontainer"  >
          <ul class="sinav", id="hidlink"  >
            <li  ><%= link_to "How it works", howitworks_path, id: "hidlinkf" %></li>
            <li  ><%= link_to "About us", aboutus_path, id: "hidlinkg" %></li>
            <li  id="regout" ><a href="#registerform" id="hidlinkh">Register</li>

            <li><a href="https://twitter.com/minerva_si" title="Twitter" target="_blank">a</a></li>
            <li><a href="https://www.linkedin.com/company/minerva-si?trk=biz-companies-cym" title="LinkedIn" target="_blank">j</a></li>
            <li><a href="http://www.pinterest.com/minervasi/" title="Pinterest" target="_blank">d</a></li>
            <li><a href="https://vimeo.com/minervasi" title="Vimeo" target="_blank">s</a></li>
          </ul>
      </div>
  </div>
  
  </div>
<%= yield %>
<div class="footerl" >
<div class ="footernavl" >
   <ul>
     <li><%= link_to "Home", root_path %></li>

     <li><%= link_to "Legal", legal_path %></li>
     <li><%= link_to "Content", content_path %></li> 
     <li><%= link_to "Contact us", contactus_path %></li>
     <li><small>Please email us at info@minervasi.com</small></li>
   
     <li><small>(c)Miverva SI Ltd 2015.  All rights reserved.</small></li>

   </ul> 
</div>  
</div>
</body>
</html>