<div class="signupfor" >



<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :email, required: true, label: false, placeholder: "Email address" %>
    <%= f.input :fname, required: true, label: false, placeholder: "First name" %>
    <%= f.input :lname, required: true, label: false, placeholder: "Last name" %>
    <%= f.input :company, required: true, label: false, placeholder: "Company" %>
    <%= f.input :position, required: true, label: false, placeholder: "Position" %>

  

  
    <%= f.button :submit, "Register" %>
  
<% end %>


</div>