<div class="logo" id="logosearch" >
  <img src="/assets/logo.svg">
</div>  
<div class="updatedetails" >
<h2>Edit Your details</h2>
<h5>Please leave the password boxes blank if you do not want to change your password</h5>

<div class="updateinfo" >
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :email, required: true, label: false, placeholder: "Email address" %>
    

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", label:false, placeholder: "New password", required: false %>
    <%= f.input :password_confirmation, required: false,label:false, placeholder: "Confirm new password"  %>

    <%= f.input :fname, required: true, label: false, placeholder: "First name" %>
    <%= f.input :lname, required: true, label: false, placeholder: "Last name" %>
    <%= f.input :company, required: true, label: false, placeholder: "Company" %>
    <%= f.input :position, required: true, label: false, placeholder: "Position" %>
    <%= f.input :current_password, label: false, placeholder: "Confirm changes with password", required: true, focus: true %>
  

  
    <%= f.button :submit, "Update" %>
  
<% end %>
</div>
</div>


